<h1>{{title}}</h1>

<div>
    <h3 id="cart-id" data-cart-id="{{cartId}}">Carrito Id: {{cartId}}</h3>
    {{#each products}}
        <div class="cart-card">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
            <p>Id: {{id}}</p>
            <p>Cantidad: {{quantity}}</p>
            <button class="delete-product" data-product-id="{{id}}">Eliminar producto</button>
        </div>
    {{/each}}
</div>

<div>
    <button class="empty-cart">Vaciar carrito</button>
    <button class="purchase">Terminar Compra</button>
</div>

<div>
    <form action="/products" method="GET">
        <button type="submit">Volver a productos</button>
    </form>
</div>

<script src="js/finishPurchaseButton.js"></script>
<script src="js/deleteProductFromCartButton.js"></script>
<script src="js/emptyCartButton.js"></script>