<h1>Bienvenido {{user.first_name}} {{user.last_name}}</h1>
<hr>

{{#if isAuth}}
    <form method="get" action="/manager">
        <button type="submit">Manager</button>
    </form>
{{/if}}

<div class="userInfo">
    <div class="userData">
        <h2>Datos Básicos</h2>
        <p><b>Nombre:</b> {{user.first_name}}</p>
        <p><b>Apellido:</b> {{user.last_name}}</p>
        <p><b>Email:</b> {{user.email}}</p>
        <p><b>Edad:</b> {{user.age}}</p>
        <p><b>Rol:</b> {{user.role}}</p>
        <p><b>Id:</b> {{user.id}}</p>
    </div>

    <div class="userDocs">
        <h2>Documentos cargados:</h2>
        {{#each docs}}
            <p id="{{ name }}">{{ name }}</p>
        {{/each}}
    </div>

    <div class="uploader">
        <h2>Cargar documentos:</h2>
        <div class="uploaderButtons">
            <input type="file" name="id" id="idInput"></input>
            <button class="uploadButton" data-user-id="{{user.id}}" onclick="uploadFile('idInput')">Cargar Id</button>

            <input type="file" name="address" id="addressInput"></input>
            <button class="uploadButton" data-user-id="{{user.id}}" onclick="uploadFile('addressInput')">Cargar address</button>

            <input type="file" name="account" id="accountInput"></input>
            <button class="uploadButton" data-user-id="{{user.id}}" onclick="uploadFile('accountInput')">Cargar account</button>
        </div>
    </div>
</div>

<div>
    <h1>Listado de todos los Productos</h1>
    <div class="product-list">
            <div>
                {{#if products.hasPrevPage}}
                    <a href={{products.prevLink}}><< Anterior</a>
                {{/if}}
            &nbsp;
                {{products.page}}
            &nbsp;
                {{#if products.hasNextPage}}
                    <a href={{products.nextLink}}>Siguiente >></a>
                {{/if}} 
            </div>
        {{#each products.payload}}
            <div class="product-card">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                <p>Precio: {{price}}</p>
                <p>Stock: {{stock}}</p>
                <p>Id: {{id}}</p>

            <button class="addToCart" data-product-id="{{id}}">Enviar al carrito</button>
            </div>
        {{/each}}
    </div>

    <form method="get" action="/cart">
        <button type="submit">Ir al carrito</button>
    </form>

    <form action="/api/sessions/logout" method="GET">
        <button type="submit">Cerrar sesión</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/addToCartButtons.js"></script>
<script src="js/uploadFilesButtons.js"></script>