<h1>Ticket de compra</h1>
<hr>

<h2>Por favor guarde estos datos:</h2>
<div class="ticketData">
    <p><b>Código del ticket:</b> {{ticket.code}}</p>
    <p><b>Fecha de compra:</b> {{ticket.purchase_datetime}}</p>
    <p><b>Monto total:</b> {{ticket.amount}}</p>
    <p><b>Usuario:</b> {{ticket.user}}</p>
</div>

<div>
    <button class="finishButton" id="{{ticket.id}}">Terminar Compra</button>
</div>

<div>
    <form action="/cart" method="GET">
        <button type="submit">Volver al carrito</button>
    </form>
</div>

<script src="js/finishProcessButton.js"></script>