<h1>Bienvenido {{user.first_name}} {{user.last_name}}</h1>
<hr>

<h2>Datos Básicos</h2>
<div class="userData">
    <p><b>Nombre:</b> {{user.first_name}}</p>
    <p><b>Apellido:</b> {{user.last_name}}</p>
    <p><b>Email:</b> {{user.email}}</p>
    <p><b>Edad:</b> {{user.age}}</p>
</div>

<div class="userData">
    <form action="/products" method="GET">
        <button type="submit">Ir a productos</button>
    </form>
</div>

<div class="userData">
    <form action="/api/sessions/logout" method="GET">
        <button type="submit">Cerrar sesión</button>
    </form>
</div>