<div>
    <h1>Carrito Id: {{cartId}}</h1>
    {{#each products}}
        <div class="product-card">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
            <p>Id: {{id}}</p>
            <p>Quantity: {{quantity}}</p>
        </div>
    {{/each}}
</div>